:root {
  --blue-dark: #0a2a39;
}

.App {
  text-align: center;
}

button {
  box-sizing: border-box;
  margin: 5px;
  padding: 10px 18px;
  color: #4e4e4e;
  font-size: 0.9em;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
  outline: none;
}
button:hover {
  background-color: #ebebeb;
}

/* APP */
main {
  width: 80%;
  margin: 10px auto;
  height: 65vh;
}
main h1 {
  /* text-align: left; */
  font-weight: 900;
  font-size: 2.5em;
  margin-top: 0px;
}
main button {
  display: block;
  margin: 25px auto;
  width: 120px;
  font-size: 1.1em;
  font-weight: 800;
}
.invite-code {
  margin: 80px auto;
}
.invite-code input {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.7em;
  margin: 0 5px;
}
.invite-code p {
  color: #2b9ef2;
  width: 150px;
  text-align: center;
  font-weight: 600;
  margin: 20px auto;
}
.invite-code .button {
  margin-top: 80px;
  margin-bottom: 6px;
}
p.have-account {
  color: #828384;
  font-weight: 500;
  margin-top: 4px;
}
.have-account span {
  text-decoration: underline;
  color: #2b9ef2;
  cursor: pointer;
}

/* HEADER */
.Header {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  /* background-color: var(--blue-dark); */
}

header h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 2em;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 5px;
  padding: 5px 20px;
  border-top-left-radius: 25px;
  border-left: 4px solid rgb(43, 43, 43);
  border-top: 4px solid rgb(43, 43, 43);
  cursor: pointer;
}

/* BUTTON */
.Button button {
  position: absolute;
  top: 30px;
  left: 25%;
}
.btn-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  top: 80px;
  left: 25.2%;
  width: 140px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 5px 0;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.btn-menu ul {
  padding: 0;
  margin: 0;
}
.btn-menu ul li {
  list-style: none;
  margin: 5px 0 5px 0px;
  padding: 6px;
  font-size: 0.85em;
  cursor: pointer;
  color: #4e4e4e;
}
.btn-menu ul li:hover {
  background-color: #e8e8e8;
}
.btn-menu ul li img {
  width: 15px;
  vertical-align: middle;
  margin: 5px;
}

/* SIDEBAR */
.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  border-right: 1px solid #e8e8e8;
  background-color: #fbfbfb;
}
.SideBar .menu {
  width: 70%;
  margin: 50px auto;
}
.SideBar ul {
  padding: 0;
  text-align: left;
  width: 100%;
}
.SideBar ul img {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.SideBar ul li {
  list-style: none;
  margin: 30px 10px;
  font-weight: 500;
  color: #5f5f5f;
  cursor: pointer;
  font-size: 0.85em;
}
.SideBar .active {
  color: #3f3f3f;
}
.SideBar ul li:hover {
  color: #3f3f3f;
}
.languages {
  position: absolute;
  bottom: 20px;
  left: 60px;
}
.languages p {
  display: inline;
  margin: 10px;
  font-size: 0.75em;
  cursor: pointer;
}
.languages p:hover {
  text-decoration: underline;
}
.active-language {
  color: rgb(32, 112, 250);
  font-weight: 500;
  text-decoration: underline;
}

/* CONTENT */
.Content {
  /* margin-left: 20%; */
  margin-top: 60px;
}
.Content .post {
  margin: 80px auto 30px auto;
  position: relative;
  width: 600px;
}
.Content .check {
  background-image: url("./images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}
.post h3 {
  margin-bottom: 30px;
}
.profile-pic {
  position: absolute;
  top: -15px;
  left: 0px;
}
.profile-pic p {
  display: inline;
  margin-left: 5px;
  color: #5f5f5f;
  font-weight: 500;
  font-size: 0.8em;
}
.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(203, 203, 203);
  vertical-align: middle;
}
.post-pic {
  width: 600px;
}

/* PROFILE */
.Footer {
  margin: 50px auto;
  /* margin-left: 20%; */
  text-align: center;
}

/* SIGN UP */
.SignUp {
  margin: 10px auto;
  width: 300px;
  /* border: 1px solid red; */
  text-align: center;
}
.SignUp h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
}
.inputs {
  text-align: left;
}
.elform div {
  margin: 35px auto;
}
.elform input {
  border: none;
  border-bottom: 1px solid grey;
  width: 97%;
  outline: none;
  padding-left: 1px;
  padding-bottom: 2px;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #555555;
  margin-top: 10px;
}
.elform label {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 25px;
}
.elform button {
  font-size: 1.1em;
  font-weight: 800;
}

/* NEWPOST */
.NewPost {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 101;
  overflow-y: scroll;
}
.NewPost .popup {
  width: 650px;
  /* height: 500px; */
  min-height: 350px;
  background-color: white;
  margin: 30px auto 5px auto;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
}
.popup h2 {
  clear: both;
  margin-top: 0;
  font-size: 1.8em;
}
.close {
  /* display: block; */
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  margin: 20px 20px 0 0;
}
.close p {
  margin: 0;
  font-weight: 600;
  vertical-align: middle;
  margin-top: 3px;
  font-size: 1.2em;
}
.choose-image div {
  display: inline-block;
}
.choose-image h3 {
  margin: 40px 0 30px 0;
}
.choose-image span {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 60px 15px 60px;
  cursor: pointer;
}
.choose-image div p {
  margin: 0;
  cursor: pointer;
}
.post-btn {
  margin: 40px 15px 40px 15px;
  /* background-color: rgb(17, 99, 231); */
}
.post-btn:hover {
  background-color: rgb(30, 122, 228);
  color: white;
}
#file-preview {
  max-width: 250px;
}
.info-post {
  text-align: left;
  float: right;
  margin-right: 70px;
}
.info-post label {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
}
.info-post textarea {
  resize: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  outline: none;
  padding: 6px;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95em;
}
#file-name {
  font-size: 0.9em;
  color: rgb(136, 136, 136);
  margin-top: 10px;
  cursor: default;
}
.cancel-btn:hover {
  background-color: rgb(65, 195, 246);
}
#location {
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 200px;
  outline: none;
  margin: 5px 0;
  padding: 5px;
  font-size: 1em;
}
