doctype html
html
    head
        title Zona | #{title}
        meta(charset='UTF-8')
        meta(rel='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/styles.css')
        link(rel='shortcut icon' type='image/png' href='/images/favicon.png')
        //- MAPBOX
        script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')

    body
        //HEADER
        include _header

        //CONTENT
        block content

        //FOOTER
        include _footer

        script(src='/js/mapbox.js')