doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _styleNewPost
  body
    .main
      h1 Zona
      h2 One of your contacts just posted something!
      br
      h3 Have a look ⬇️
      a(href=`${url}`, target='_blank') zona.gustavozapata.me
      p Enjoy :)
      footer
        div
          span Zona Inc, London, UK, 2020
          br
          a(href='#') Unsubscribe