:root {
  --blue-dark: #0a2a39;
}

.App {
  text-align: center;
}

/* HEADER */
.Header {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  /* background-color: var(--blue-dark); */
}
.Header header {
  margin-left: 20%;
}
.Header h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 2em;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 5px;
  padding: 5px 20px;
  border-top-left-radius: 25px;
  border-left: 2px solid rgb(43,43,43);
  border-top: 2px solid rgb(43,43,43);
}

/* BUTTON */
.Button {
  /* position: relative; */
}
.Button button {
  position: absolute;
  top: 30px;
  left: 25%;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px 18px;
  color: #4e4e4e;
  font-size: .9em;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
  outline: none;
}
.Button button:hover {
  background-color: #ebebeb
}
.btn-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  top: 80px;
  left: 25.2%;
  width: 140px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 5px 0;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}
.btn-menu ul {
  padding: 0;
  margin: 0;
}
.btn-menu ul li {
  list-style: none;
  margin: 5px 0 5px 0px;
  padding: 6px;
  font-size: .85em;
  cursor: pointer;
  color: #4e4e4e;
}
.btn-menu ul li:hover {
  background-color: #E8E8E8;
}
.btn-menu ul li img {
  width: 15px;
  vertical-align: middle;
  margin: 5px;
}

/* SIDEBAR */
.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  border-right: 1px solid #E8E8E8;
  background-color: #555555;
}
.SideBar .menu {
  width: 70%;
  margin: 50px auto;
}
.SideBar ul {
  padding: 0;
  text-align: left;
  width: 100%;
}
.SideBar ul img {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.SideBar ul li {
  list-style: none;
  margin: 30px 10px;
  font-weight: 500;
  color: #5F5F5F;
  cursor: pointer;
  font-size: .85em;
}
.SideBar .active {
  color: #3F3F3F;
}
.SideBar ul li:hover {
  color: #3F3F3F;
}
.languages {
  position: absolute;
  bottom: 20px;
  left: 60px;
}
.languages p {
  display: inline;
  margin: 10px;
  font-size: .75em;
  cursor: pointer;
}
.languages p:hover {
  text-decoration: underline;
}
.active-language {
  color: rgb(32, 112, 250);
  font-weight: 500;
  text-decoration: underline;
}

/* CONTENT */
.Content {
  margin-left: 20%;
  margin-top: 60px;
}
.Content .post {
  margin: 80px auto 30px auto;
  position: relative;
  width: 600px;
}
.Content .check {
  background-image: url('./images/icons/check.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}
.post h3 {
  margin-bottom: 30px;
}
.profile-pic {
  position: absolute;
  top: -15px;
  left: 0px;
}
.profile-pic p {
  display: inline;
  margin-left: 5px;
  color: #5F5F5F;
  font-weight: 500;
  font-size: .8em;
}
.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(203, 203, 203);
  vertical-align: middle;
}

/* PROFILE */
.Footer {
  margin: 50px auto;
  margin-left: 20%;
  text-align: center
}